/* ==========================================
   Application Layout
   ========================================== */

.app-layout {

  display: grid;

  grid-template-columns: 260px 1fr;
  grid-template-rows: 72px 1fr;

  grid-template-areas:
        "sidebar header"
        "sidebar content";

  width: 100%;
  height: 100vh;

}

/* ==========================================
   Main Content
   ========================================== */

.page-content {

  grid-area: content;

  overflow-y: auto;

  padding: 30px;

}