#----
# Root
#----

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
nightrunner.db
test_*.db
build/
dist/
*.egg-info/
.pytest_cache/
.env
.idea/
node_modules/


#----
# REACT
#----

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
storybook-static
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.db-shm
*.db

#----
# TERRAFORM
#----

# Local terraform variable files (contains sensitive passwords & API tokens)
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local Terraform Working Directory & Crash Logs
.terraform/
crash.log
crash.*.log

# Terraform State Files
*.tfstate
*.tfstate.*

# Secret backup files
*.pem
.github-pat
