.header {

    grid-area: header;

    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0 24px;

}


.header-user {
    color: var(--header-text);
    text-decoration: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
}

.header-user:hover {
    background: var(--sidebar-hover);
}

.header-user.active {
    font-weight: bold;
}